In [170]:
import numpy as np
import pandas as pd

In [171]:
df=pd.read_csv('/Users/qingmo/Desktop/任务数据/测试.csv')

In [172]:
df.head()

        uid              CT    type  money  remain        memo
0  19127579  18-08-01 00:00    task    1.0    12.7   我完成《投资理财》
1  19130082  18-08-01 00:00    task    1.0     2.5   我完成《安全理财》
2  19130056  18-08-01 00:00    task    1.0     2.5   我完成《投资理财》
3  19130059  18-08-01 00:00    task    1.0     2.5   我完成《安全理财》
4  18788622  18-08-01 00:00  remain    0.2    17.1  完成后续《理财工具》

In [173]:
ct1='18-08-01 00:00'
str1=ct1.split(':')

In [174]:
str1

['18-08-01 00', '00']

In [175]:
str2=ct1.split(' ')[1]

In [176]:
str2

'00:00'

In [177]:
str3=str2.split(':')[0]

In [178]:
str3

'00'

In [179]:
df.head()

        uid              CT    type  money  remain        memo
0  19127579  18-08-01 00:00    task    1.0    12.7   我完成《投资理财》
1  19130082  18-08-01 00:00    task    1.0     2.5   我完成《安全理财》
2  19130056  18-08-01 00:00    task    1.0     2.5   我完成《投资理财》
3  19130059  18-08-01 00:00    task    1.0     2.5   我完成《安全理财》
4  18788622  18-08-01 00:00  remain    0.2    17.1  完成后续《理财工具》

In [180]:
df.loc[df['CT'] == '18-08-01 09:00'].head()

          uid              CT    type  money  remain        memo
842  18943933  18-08-01 09:00  remain    0.2    40.7  完成后续《理财工具》
843  15367065  18-08-01 09:00  remain    0.2    57.8  完成后续《理财工具》
844  19102246  18-08-01 09:00  remain    0.2    30.2    完成后续《气象》
845  15574785  18-08-01 09:00  remain    0.2   234.9  完成后续《理财工具》
846  18732445  18-08-01 09:00  remain    0.2    10.0  完成后续《理财工具》

In [181]:
df.head()

        uid              CT    type  money  remain        memo
0  19127579  18-08-01 00:00    task    1.0    12.7   我完成《投资理财》
1  19130082  18-08-01 00:00    task    1.0     2.5   我完成《安全理财》
2  19130056  18-08-01 00:00    task    1.0     2.5   我完成《投资理财》
3  19130059  18-08-01 00:00    task    1.0     2.5   我完成《安全理财》
4  18788622  18-08-01 00:00  remain    0.2    17.1  完成后续《理财工具》

In [185]:
ct1=df['CT']

In [187]:
ct1.head()

0    18-08-01 00:00
1    18-08-01 00:00
2    18-08-01 00:00
3    18-08-01 00:00
4    18-08-01 00:00
Name: CT, dtype: object

In [189]:
str1=ct1.split(' ')

AttributeError: 'Series' object has no attribute 'split'

In [ ]:
def getTitle(CT):
    str1=name.split( ',' )[1] #Mr. Owen Harris
    str2=str1.split( '.' )[0]#Mr
    #strip() 方法用于移除字符串头尾指定的字符（默认为空格）
    str3=str2.strip()
    return str3

In [ ]:
df = df.set_index('CT') # 将date设置为index

In [149]:
df.head()

                     uid    type  money  remain        memo
CT
18-08-01 00:00  19127579    task    1.0    12.7   我完成《投资理财》
18-08-01 00:00  19130082    task    1.0     2.5   我完成《安全理财》
18-08-01 00:00  19130056    task    1.0     2.5   我完成《投资理财》
18-08-01 00:00  19130059    task    1.0     2.5   我完成《安全理财》
18-08-01 00:00  18788622  remain    0.2    17.1  完成后续《理财工具》

In [150]:
print(df.head(2))

                     uid  type  money  remain       memo
CT
18-08-01 00:00  19127579  task    1.0    12.7  我完成《投资理财》
18-08-01 00:00  19130082  task    1.0     2.5  我完成《安全理财》

In [151]:

print(df.shape)

(1000, 5)

In [152]:
BF2=df['18-08-01 00:00':'18-08-01 00:59']

In [153]:
BF2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 190 entries, 18-08-01 00:00 to 18-08-01 00:59
Data columns (total 5 columns):
uid       190 non-null int64
type      190 non-null object
money     190 non-null float64
remain    190 non-null float64
memo      190 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 8.9+ KB

In [154]:
ASO=pd.read_csv('/Users/qingmo/Desktop/任务数据/用户完成任务数据a.csv')

In [155]:
ASO.head()

,uid,CT,type,money,remain,memo
0,18968460,18-08-01 00:00,drawwechat,-10.0,0.5,微信提现:李娇 提现金额:10.00元
1,18860972,18-08-01 00:00,drawwechat,-10.0,0.0,微信提现:宋小鹏 提现金额:10.00元
2,18894714,18-08-01 00:00,drawwechat,-10.0,1.0,微信提现:王楠 提现金额:10.00元
3,19127579,18-08-01 00:00,task,1.0,12.7,我完成《投资理财》
4,19041926,18-08-01 00:00,invite,0.5,18.2,苹果徒弟(ID:19127579)完成《投资理财》

In [156]:
ASO = ASO.set_index('CT')

In [157]:
ASO.head()

                     uid        type  money  remain                       memo
CT
18-08-01 00:00  18968460  drawwechat  -10.0     0.5        微信提现:李娇 提现金额:10.00元
18-08-01 00:00  18860972  drawwechat  -10.0     0.0       微信提现:宋小鹏 提现金额:10.00元
18-08-01 00:00  18894714  drawwechat  -10.0     1.0        微信提现:王楠 提现金额:10.00元
18-08-01 00:00  19127579        task    1.0    12.7                  我完成《投资理财》
18-08-01 00:00  19041926      invite    0.5    18.2  苹果徒弟(ID:19127579)完成《投资理财》

In [158]:
BF3=ASO['18-08-01 00:00':'18-08-01 00:59']

In [159]:
BF3.head()

                     uid        type  money  remain                       memo
CT
18-08-01 00:00  18968460  drawwechat  -10.0     0.5        微信提现:李娇 提现金额:10.00元
18-08-01 00:00  18860972  drawwechat  -10.0     0.0       微信提现:宋小鹏 提现金额:10.00元
18-08-01 00:00  18894714  drawwechat  -10.0     1.0        微信提现:王楠 提现金额:10.00元
18-08-01 00:00  19127579        task    1.0    12.7                  我完成《投资理财》
18-08-01 00:00  19041926      invite    0.5    18.2  苹果徒弟(ID:19127579)完成《投资理财》

In [160]:
BF3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1772 entries, 18-08-01 00:00 to 18-08-01 00:59
Data columns (total 5 columns):
uid       1772 non-null int64
type      1727 non-null object
money     1772 non-null float64
remain    1772 non-null float64
memo      1772 non-null object
dtypes: float64(2), int64(1), object(2)
memory usage: 83.1+ KB

In [161]:
BF3.describe()

                uid        money       remain
count  1.772000e+03  1772.000000  1772.000000
mean   1.851793e+07   -10.023420     6.340085
std    2.294591e+06    13.665176    25.561430
min    2.230000e+02  -200.500000     0.000000
25%    1.880874e+07   -10.500000     1.000000
50%    1.907558e+07   -10.000000     2.000000
75%    1.912462e+07     0.200000     5.500000
max    1.913024e+07    20.000000   795.500000

In [162]:
ASO.loc[ASO["type"]=="task"].head()

                     uid  type  money  remain       memo
CT
18-08-01 00:00  19127579  task    1.0    12.7  我完成《投资理财》
18-08-01 00:00  19130082  task    1.0     2.5  我完成《安全理财》
18-08-01 00:00  19130056  task    1.0     2.5  我完成《投资理财》
18-08-01 00:00  19130059  task    1.0     2.5  我完成《安全理财》
18-08-01 00:00  19130085  task    1.0     2.5    我完成《机票》

In [163]:
ASO.loc[ASO["type"]=="task" ].head()

                     uid  type  money  remain       memo
CT
18-08-01 00:00  19127579  task    1.0    12.7  我完成《投资理财》
18-08-01 00:00  19130082  task    1.0     2.5  我完成《安全理财》
18-08-01 00:00  19130056  task    1.0     2.5  我完成《投资理财》
18-08-01 00:00  19130059  task    1.0     2.5  我完成《安全理财》
18-08-01 00:00  19130085  task    1.0     2.5    我完成《机票》

In [164]:
ASO.loc[(ASO["type"]=="task") | (ASO["type"]=='invite')].head()

                     uid    type  money  remain                       memo
CT
18-08-01 00:00  19127579    task    1.0   12.70                  我完成《投资理财》
18-08-01 00:00  19041926  invite    0.5   18.20  苹果徒弟(ID:19127579)完成《投资理财》
18-08-01 00:00  19130082    task    1.0    2.50                  我完成《安全理财》
18-08-01 00:00   6698266  invite    0.5   33.84  苹果徒弟(ID:19130082)完成《安全理财》
18-08-01 00:00  19130056    task    1.0    2.50                  我完成《投资理财》

NameError: name 'CT' is not defined

In [168]:
df[(df['ONE'] == 1.1) & (df['TWO'] == 2.1)]

KeyError: 'ONE'

In [ ]:
lc.loc[(lc["grade"] == "B") | (lc["loan_amnt"] > 5000), ["member_id", "term" , "loan_amnt", "grade","sub_grade", "int_rate"]].head()