In [73]:
import time
import numpy as np
import pandas as pd

In [74]:
import matplotlib.pyplot as plt

In [75]:
from datetime import datetime
%matplotlib inline 
plt.style.use('ggplot')

In [76]:
dtypes = {'uid','type','createdd','regtime','ls','countt','balance','add_up','money','remain'}
raw_data=pd.read_csv('/Users/qingmo/Desktop/8basemonth.csv',index_col='uid')

In [77]:
print(raw_data.head(4))

          type  createdd   regtime         ls  countt  balance  add_up  money  \
uid
19130099  task  2018/8/1  2018/8/1  2018/8/29      67      1.7    73.2    1.0
19130101  task  2018/8/1  2018/8/1   2018/8/3      19      1.5    21.5    1.0
19130102  task  2018/8/2  2018/8/1   2018/8/5      46      7.5    47.5    1.0
19130103  task  2018/8/2  2018/8/1  2018/9/11     138     44.5   154.5    1.0

          remain
uid
19130099     2.5
19130101     3.5
19130102     2.0
19130103     2.0

In [78]:
print(raw_data.describe())

             countt       balance        add_up         money        remain
count  77679.000000  77679.000000  77679.000000  77679.000000  77679.000000
mean      33.605633      7.691706     40.021125      1.001671      2.314138
std       29.193579     11.817513     35.219661      0.018205      2.940345
min        1.000000    -16.300000      2.000000      1.000000      2.000000
25%       11.000000      1.700000     13.525000      1.000000      2.000000
50%       29.000000      4.000000     33.000000      1.000000      2.500000
75%       47.000000      8.000000     53.700000      1.000000      2.500000
max      305.000000    478.000000   1178.000000      1.200000    762.500000

用户的task8月份的完成情况，最高的用户做了305个，134159的用户平均每个用户做了33.6个task任务。中位数在29.1，大致可以说明每个用户一天做了1个task的任务。在看用户账户余额，最高的有762.5在当前未提现，中位数在2.9.

In [57]:
raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77679 entries, 19130099 to 19229552
Data columns (total 9 columns):
type        77679 non-null object
createdd    77679 non-null object
regtime     77679 non-null object
ls          77679 non-null object
countt      77679 non-null int64
balance     77679 non-null float64
add_up      77679 non-null float64
money       77679 non-null float64
remain      77679 non-null float64
dtypes: float64(4), int64(1), object(4)
memory usage: 5.9+ MB

目前提取的数据无缺失值，比较完整，不需要进行数据的填充。

In [58]:
df=raw_data

In [59]:
df['createdd']=pd.to_datetime(df['createdd'],format='%Y-%m-%d')

In [60]:
df['regtime']=pd.to_datetime(df['regtime'],format='%Y-%m-%d')

In [61]:
df.head(4)

,type,createdd,regtime,ls,countt,balance,add_up,money,remain
uid,,,,,,,,,
19130099,task,2018-08-01,2018-08-01,2018/8/29,67,1.7,73.2,1.0,2.5
19130101,task,2018-08-01,2018-08-01,2018/8/3,19,1.5,21.5,1.0,3.5
19130102,task,2018-08-02,2018-08-01,2018/8/5,46,7.5,47.5,1.0,2.0
19130103,task,2018-08-02,2018-08-01,2018/9/11,138,44.5,154.5,1.0,2.0

In [62]:
df['ls']=pd.to_datetime(df['ls'],format='%Y-%m-%d')

In [63]:
df.head(4)

,type,createdd,regtime,ls,countt,balance,add_up,money,remain
uid,,,,,,,,,
19130099,task,2018-08-01,2018-08-01,2018-08-29,67,1.7,73.2,1.0,2.5
19130101,task,2018-08-01,2018-08-01,2018-08-03,19,1.5,21.5,1.0,3.5
19130102,task,2018-08-02,2018-08-01,2018-08-05,46,7.5,47.5,1.0,2.0
19130103,task,2018-08-02,2018-08-01,2018-09-11,138,44.5,154.5,1.0,2.0

In [64]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77679 entries, 19130099 to 19229552
Data columns (total 9 columns):
type        77679 non-null object
createdd    77679 non-null datetime64[ns]
regtime     77679 non-null datetime64[ns]
ls          77679 non-null datetime64[ns]
countt      77679 non-null int64
balance     77679 non-null float64
add_up      77679 non-null float64
money       77679 non-null float64
remain      77679 non-null float64
dtypes: datetime64[ns](3), float64(4), int64(1), object(1)
memory usage: 5.9+ MB

In [65]:
recency_value = df['createdd'].groupby(df.index).max()  # 计算原始最近一次订单时间
monetary_value = df['money'].groupby(df.index).sum()  # 计算原始订单总金额

In [66]:
deadline_date = pd.datetime(2018, 9, 1)  # 指定一个时间节点，用于计算其他时间与该时间的距离
r_interval = (deadline_date - recency_value).dt.days  # 计算R间隔
r_score = pd.cut(r_interval, 5, labels=[5, 4, 3, 2, 1])  # 计算R得分
m_score = pd.cut(monetary_value, 5, labels=[1, 2, 3, 4, 5])  # 计算M得分

In [72]:
rfm_list = [r_score, m_score]  # 将r、f、m三个维度组成列表
rfm_cols = ['r_score', 'm_score']  # 设置r、f、m三个维度列名
rfm_pd = pd.DataFrame(np.array(rfm_list).transpose(), dtype=np.int32, columns=rfm_cols,
                      index=df.index)  # 建立r、f、m数据框
print ('RFM Score Overview:')
print (rfm_pd.head(4))
print ('-' * 60)

RFM Score Overview:
          r_score  m_score
uid
19130099        1        1
19130101        1        1
19130102        1        1
19130103        1        1
------------------------------------------------------------

In [ ]:
# 计算RFM总得分
# 方法一：加权得分
rfm_pd['rfm_wscore'] = rfm_pd['r_score'] * 0.6 + rfm_pd['f_score'] * 0.3 + rfm_pd['m_score'] * 0.1
# 方法二：RFM组合
rfm_pd_tmp = rfm_pd.copy()
rfm_pd_tmp['r_score'] = rfm_pd_tmp['r_score'].astype('str')
rfm_pd_tmp['f_score'] = rfm_pd_tmp['f_score'].astype('str')
rfm_pd_tmp['m_score'] = rfm_pd_tmp['m_score'].astype('str')
rfm_pd['rfm_comb'] = rfm_pd_tmp['r_score'].str.cat(rfm_pd_tmp['f_score']).str.cat(rfm_pd_tmp['m_score'])